
.smo {
	font-size: 12px;
}

.action-btn {
	background: #75533c;
	border-radius: 2px;
	font-weight: 600;
	border: 1px solid #7e563b;
	font-size: 14px;
}

.selekt {
	font-size: 1em;
}


.search-form .input-control  {
	width: 30%;
	border-radius: 3px;
	margin: 0 .1em;
}

.footer-blog li {
	display: flex !important;
	flex-direction: row;
}

.opasity {
	background: rgba(0, 0, 0, .5) !important;
}

/* Customised Image gallery */

.slicked1 {
	height: 400px;
	margin: auto;
	overflow: hidden;
}

.slicked1 img {
	margin: auto;
	width: 100%;
}

.slicked2 {
	margin: .5em auto;
	width: 500px;
}

.slicked2 .slickers {
	margin: 0 .5em;
}

.slicked2 img {
	width: 100% !important;
}

.kaya {
	min-height: 500px;
	overflow-x: hidden;
}